*.xml
/Practices/Chapter4/practice2/Employee04-02Prac/build/
/Practices/Chapter4/practice3/Singleton04-03Prac/nbproject/private/
/Practices/Chapter 5/practice1/AbstractBanking05-01Prac/build/
/Practices/Chapter6/practice1/Pet06-01Prac/nbproject/private/
/Practices/Chapter6/practice2/InterfaceBanking06-02Prac/nbproject/private/
/Practices/Chapter6/practice3/LambdaBasics06-03Prac/nbproject/private/
/Practices/Chapter6/practice1/Pet06-01Prac/build/
/Practices/Chapter6/practice2/InterfaceBanking06-02Prac/build/
/Practices/Chapter6/practice3/LambdaBasics06-03Prac/build/
/Practices/Chapter7/practice1/GenericsHashMap07-01Prac/nbproject/private/
/Practices/Chapter7/practice2/Stack07-02Prac/nbproject/private/
/Practices/Chapter7/practice1/GenericsHashMap07-01Prac/build/
/Practices/Chapter7/practice2/Stack07-02Prac/build/
/Practices/Chapter8/practice1/EmployeeSearch08-01Prac/nbproject/private/
/Practices/Chapter8/practice2/EmployeeSearch08-02Prac/nbproject/private/
/Practices/Chapter8/practice3/EmployeeSearch08-03Prac/nbproject/private/
/Practices/Chapter8/practice4/EmployeeSearch08-04Prac/nbproject/private/
/Practices/Chapter8/practice1/EmployeeSearch08-01Prac/build/
/Practices/Chapter8/practice2/EmployeeSearch08-02Prac/build/
/Practices/Chapter8/practice3/EmployeeSearch08-03Prac/build/
/Practices/Chapter8/practice4/EmployeeSearch08-04Prac/build/
/Practices/Chapter9/practice1/EmployeeSearch09-01Prac/nbproject/private/
/Practices/Chapter9/practice2/EmployeeSearch09-02Prac/nbproject/private/
/Practices/Chapter9/practice3/EmployeeSearch09-03Prac/nbproject/private/
/Practices/Chapter9/practice4/EmployeeSearch09-04Prac/nbproject/private/
/Practices/Chapter9/practice2/EmployeeSearch09-02Prac/build/
/Practices/Chapter9/practice3/EmployeeSearch09-03Prac/build/
/Practices/Chapter9/practice4/EmployeeSearch09-04Prac/build/
/Practices/Chapter10/practice1/SalesTxn10-01Prac/nbproject/private/
/Practices/Chapter10/practice2/SalesTxn10-02Prac/nbproject/private/
/Practices/Chapter10/practice3/SalesTxn10-03Prac/nbproject/private/
/Practices/Chapter10/practice4/SalesTxn10-04Prac/nbproject/private/
/Practices/Chapter10/practice5/SalesTxn10-05Prac/nbproject/private/
/Practices/Chapter10/practice6/SalesTxn10-06Prac/nbproject/private/
/Practices/Chapter10/practice7/SalesTxn10-07Prac/nbproject/private/
/Practices/Chapter10/practice8/SalesTxn10-08Prac/nbproject/private/
/Practices/Chapter11/practice2/CustomExceptions11-02Prac/nbproject/private/
/Practices/Chapter12/practice1/LocalDatesAndTimes12-01Prac/nbproject/private/
/Practices/Chapter12/practice2/DepartArrive12-02Prac/nbproject/private/
/Practices/Chapter12/practice3/TimeBetween12-03Prac/nbproject/private/
/Practices/Chapter13/practice1/FileScanner13-01Prac/nbproject/private/
/Practices/Chapter13/practice2/SerializeShoppingCart13-02Prac/nbproject/private/
/Practices/Chapter14/practice1/LambdaFiles14-01Prac/build/
/Practices/Chapter14/practice1/LambdaFiles14-01Prac/nbproject/private/
/Practices/Chapter14/practice2/LambdaDirectory14-02Prac/nbproject/private/
/Practices/Chapter15/practice1/ConCount15-01Prac/nbproject/private/
/Practices/Chapter15/practice2/ExecutorService15-02Prac/nbproject/private/
/Practices/Chapter16/practice1/ForkJoinFindMax16-01Prac/nbproject/private/
/Practices/Chapter17/practice1/SalesTxn17-01Prac/nbproject/private/
/Practices/Chapter17/practice2/SalesTxn17-02Prac/nbproject/private/
/Practices/Chapter17/practice3/SalesTxn17-03Prac/build/
/Practices/Chapter17/practice3/SalesTxn17-03Prac/nbproject/private/
/Practices/Chapter18/practice1/SimpleJDBC18-01Prac/nbproject/private/
/Practices/Chapter19/practice1/Localized19-01Prac/nbproject/private/
/Practices/Chapter10/practice1/SalesTxn10-01Prac/build/
/Practices/Chapter10/practice2/SalesTxn10-02Prac/build/
/Practices/Chapter10/practice3/SalesTxn10-03Prac/build/
/Practices/Chapter10/practice4/SalesTxn10-04Prac/build/
/Practices/Chapter10/practice6/SalesTxn10-06Prac/build/
/Practices/Chapter10/practice7/SalesTxn10-07Prac/build/
/Practices/Chapter10/practice8/SalesTxn10-08Prac/build/
/Practices/Chapter11/practice2/CustomExceptions11-02Prac/build/
/Practices/Chapter13/practice1/FileScanner13-01Prac/build/
/Practices/Chapter13/practice2/SerializeShoppingCart13-02Prac/build/
/Practices/Chapter14/practice2/LambdaDirectory14-02Prac/build/
/Practices/Chapter15/practice1/ConCount15-01Prac/build/
/Practices/Chapter15/practice2/ExecutorService15-02Prac/build/
/Practices/Chapter17/practice1/SalesTxn17-01Prac/build/
/Practices/Chapter17/practice2/SalesTxn17-02Prac/build/
/Practices/Chapter19/practice1/Localized19-01Prac/build/